:root {
  --primary-color: #0297d6;
  --primary-hover-color: #2ebbf7;
  --header-footer-color: #f6f6f6;
  --header-footer-border-color: #eeeeee;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.ezen-dropdown {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  background-color: #fff !important;
  width: 150px;
  border-radius: 0;
}
.ezen-dropdown:hover,
.ezen-dropdown:focus,
.ezen-dropdown:active {
  color: var(--primary-hover-color) !important;
  border-color: var(--primary-hover-color) !important;
  background-color: #fff !important;
}

.ezen-dropdown,
[aria-labelledby='ezenDropdown'] li a {
  font-size: 14px;
}
